
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

body {
  font-family: "Bitter", serif;
  background-color: #2b445e;
  color: #a2eadd;
  min-width: 480px;
}

  /* Styles for larger screens (desktops, min-width 769px) */
  /* Mobile view */
@media (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr; /* 1 column */
      background-color: blue;
  }
  body {
    font-family: "Bitter", serif;
    font-size: 4vh;
    /* background-color: #2b445e;
    color: blue; */
    min-width: 480px;
    
  }
  
}
