.certification_title{
    margin-top: 25px;
    margin-bottom: 15px;;
}

.stack_space {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 80%;
}

.stack_space_labels {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
}

.left_side{
    margin-left: 25px;
}

.right_side{
    margin-right: 25px;
}

.middle_side{
    margin-left: 65px;
}